<!DOCTYPE html>
	{% load static %}
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
	</head>
	<html>
		<body>
			<img class="image"
			src="{% static "images/cat.png" %}"
			alt="Picture of Cat">
			<div class="mainText">
				<h2 class="heading">
					The Students and their cats are:
				</h2>
				{% if students %}
					{% for student in students %}
						<div class="dropdown">
							<span>{{ student }} has <strong>{{ student.cat_set.all.count }}</strong> cat{% if student.cat_set.all.count != 1 %}s{% endif %}</span>
								<div class="dropdown-content">
									{% for cat in student.cat_set.all|dictsort:"name" %}
										<p>{{ cat }}</p>
									{% endfor %}
								</div>
						</div>
					{% endfor %}
				{% else %}
				<h2 class="heading">There are no Students 😢.</h2>
				{% endif %}
			</div>
			<div class="footerText">
				<a class="linkText" href="/practicalApp/cats">About Pets of Students</a>
			</div>
		</body>
	</html>
